body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
}

#index, .game {
	height: 100vh;
}


.status {
	margin-bottom: 10px;
}


.game {
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
}
  
.game-info {
	margin-left: 20px;
}

